:root {
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000 !important;
    color: #383838;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h3 {
    font-weight: 400;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: transparent;
}

p {
    margin: 0.5rem 0;
    font-weight: 600;
    color: #ffffff;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background:

        url("../../src/assets/bg.jpg") no-repeat center center/cover;
}

.showcase::after {
    background: rgba(0, 0, 0, 0.78);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.head-btn2 {
    margin-right: 130px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #f4f4f4;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.btn-icon2 {
    margin-right: 8px;

}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 180px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: -39px;
    transform: translate(40%, -50%);

}

.showcase-top button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60%, -50%);

}

.showcase-content {
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10rem;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 0 30px;
    max-width: 800px;
    line-height: 74.5px;
}

h3 {
    color: white;
    font-size: 1.65rem;
    margin: 16px 0;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.inputt {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 60px;
    border-radius: 5px;
    margin-left: 80px;
}

.inp {
    flex: 9;
    height: 100%;
    border: none;
    padding: 0 10px;
    outline: none;
}

.registerButtonn {
    flex: 3;
    height: 100%;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.btn-start {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.ar {
    height: 15px;
    width: 15px;
}

.inputtt {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 60px;
    border-radius: 5px;
    margin-left: 60px;
    outline: none;
}

.new {
    flex: 9;
    height: 100%;
    border: none;
    padding: 0 10px;
    width: 25%;
}

.registerButton {
    flex: 3;
    height: 100%;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.card-0,
.card-1,
.card-2,
.card-3,
.lastsec,
.footer-container {
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

.footer-container {

    padding-bottom: 5px;
}

.card-0 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 60px 45px 60px;
}

.desc-0 {
    padding-left: 100px;
}

.card-1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 80px 45px 80px;
}

.desc-1 {
    padding-left: 80px;
}

.style-cards h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h3 {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-left: 26px;
}

.card-1 video {
    position: relative;
    width: 100%;
    height: 70%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img {
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-2 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2 {
    padding-left: 100px;
}

.card-3 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 80px 45px 80px;
}

.desc-3 {
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img {
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video {
    position: relative;
    top: 0;
    left: 125px;
    width: 100%;
    height: 70%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}

.faq {
    text-align: center;
}

.faq h1 {
    padding-bottom: 40px;
    font-size: 3rem;

}

.questions {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}

.questions li {
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 50%;

}

.faq p {
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;

}

.input {
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    outline: none;
    height: 60px;
    border-radius: 5px;
    margin-left: 26%;

}

.input input {
    flex: 9;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
}

.input button {
    flex: 3;
    height: 100%;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.ar {
    height: 15px;
    width: 15px;

}




.footer {
    max-width: 100%;

    overflow: auto;
    padding-bottom: 0;

}

.footer-1 {
    max-width: 70%;
    margin: 1rem auto;
}

.footer,
.footer a {
    color: #757575;
    font-size: 1rem;

}

.brand {
    margin-top: 20px;
}

.footer p {
    margin-bottom: 1.5rem;
    color: #757575;
    margin-left: 35px;

}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 0;
    margin: 0;

}

.footer li {
    line-height: 2.4;

}

.footer-btn {
    background-color: transparent;
    color: #adadad;
    border: 0.5px solid #818181;
    padding: 10px 20px;
    margin-top: 18px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.btn-icon {
    margin-right: 10px;

}