.featured {
    height: 100vh;
    position: relative;
}

.category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

select {
    cursor: pointer;
    background-color: var(--main-color);
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
}


.feature-img {
    width: 100%;

    height: 100%;
    object-fit: cover;
}

.info {
    width: 35%;
    position: absolute;
    left: 44px;
    bottom: 39px;
    color: white;
    display: flex;
    flex-direction: column;
}

/* img {
    width: 400px;
} */

.desc {
    margin: 20px 0px;
}


.buttons-feature {
    display: flex;
}

.play-fea,
.info-fea {
    padding: 10px 20px;
    border: none;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}

.play-fea {
    background-color: #e50914;

    color: #fff;

}

.play-fea:hover {
    background-color: #e50914;
    color: #fff;
}

.info-fea {
    background-color: gray;
    color: white;
}

span {
    margin-left: 5px;
}


.footer {
    max-width: 100%;

    overflow: auto;
    padding-bottom: 0;

}

.footer-1 {
    max-width: 70%;
    margin: 1rem auto;
}

.footer,
.footer a {
    color: #757575;
    font-size: 1rem;

}

.brand {
    margin-top: 20px;
}

.footer p {
    margin-bottom: 1.5rem;
    color: #757575;
    margin-left: 35px;

}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 0;
    margin: 0;

}

.footer li {
    line-height: 2.4;

}

.footer-btn {
    background-color: transparent;
    color: #adadad;
    border: 0.5px solid #818181;
    padding: 1px 8px !important;
    margin-top: 18px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.btn-icon {
    margin-right: 10px;

}

@media only screen and (max-width: 600px) {
    .desc{
        width: 100%;
    }
    .info {
        width: 98%;
        position: absolute;
        left: 10px;
        bottom: 39px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    
.footer-1 {
    max-width: 100%;
    margin: 1rem 0;
  
}

.footer,
.footer a {
    color: #ffffff;
    font-size: 14px;

}

.brand {
    margin-top: 20px;
}

.footer p {
    margin-bottom: 1.5rem;
    color: #757575;
    margin-left: 0;

}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 0;
    margin: 0;

}

.footer li {
    line-height: 1.4;

}

.footer-btn {
    background-color: transparent;
    color: #adadad;
    border: 0.5px solid #818181;
    padding: 2px 4px;
    margin-top: 18px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.btn-icon {
    margin-right: 10px;

}
}